<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <div class="flex-container">
        <header> 
            <nav class="navbar">
                <h1> <a href="/index">JamesVPog's Blog</a> </h1>
                <div class="sub-nav">
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </div>
            </nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <p>Built using <em>Eleventy v3.0.0</em>. &copy; 2024 James Vongphasouk. All rights reserved.</a></p>
        </footer>
    </div>
</body>
</html>