@import url('./reset.css');

:root {
    --base-color: hsl(225, 23%, 95%);
    --base-variant: hsl(228, 26%, 90%);
    --text-color: hsl(0, 0%, 20%);
    --secondary-text: hsl(227, 23%, 20%);
    --primary-color: hsl(225, 24%, 30%);
    --accent-color: hsl(210, 100%, 50%);
  }
  
  .darkmode {
    --base-color: hsl(228, 50%, 8%);
    --base-variant: hsl(225, 39%, 10%);
    --text-color: hsl(60, 100%, 95%);
    --secondary-text: hsl(234, 14%, 71%);
    --primary-color: hsl(225, 24%, 30%);
    --accent-color: hsl(210, 100%, 50%);
  }
  
/* general styles */
html, body {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--base-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

@media (min-width: 48em) {
    body {
        font-size: 1.125rem;
    }
}
/* navigation bar styles, 
on mobile navlinks are hidden on mobile*/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--base-variant);
}

.sub-nav{
    display: none;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}
.sub-nav a {
    margin: 5px 0;
    color: var(--text-color);
    text-decoration: none;
}

.nav-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-color)
}

/* Show nav links when the toggle is active */
.nav-active .sub-nav {
    display: flex;
}

/* Larger screens (bigger than 48em or ~768px)*/
@media (min-width: 48em) {

    nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: 10px;
    }
    .sub-nav {
        display: flex;
        flex-direction: row;
        gap: 30px;
        font-size: 1.4em;
        margin-top: 0;
    }
    .sub-nav a {
        margin: 0 10px;
    }
    .nav-toggle {
        display: none; 
    }
}

/* Theme Switch button */
#theme-switch{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 70%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#theme-switch svg {
    fill: var(--primary-color);
    transition: fill 1s;
}

#theme-switch:hover svg{
    fill: yellow;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

#theme-switch svg:last-child{
    display: none;
}


.darkmode #theme-switch svg:last-child{
    display: block;
}

body, nav, footer, #theme-switch {
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* text styles */
h1, h2, h3, .title-line{
    margin-bottom: 10px;
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
}

h1:has(a[href="/"]) {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
    color: var(--accent-color);
    flex: 2;
    margin-bottom: 5px;
}

.posts h3, .title-line {
    font-size: 1rem;
}

.date {
    margin-bottom: 20px; 
    font-size: 0.9rem; 
    color: #999; 
}

p {
    margin-bottom: 15px; 
    font-size: 1.1em;
}

/* Link styles */
a ,a:link, a:visited, a:focus, a:active {
    outline-color: transparent;
    outline: none;
    color: var(--accent-color);
    text-decoration: none;
}


a[href="/"] {
    background-color: transparent;
    color: inherit;
}

/* footer */

footer {
    text-align: center;
    padding: 15px;
    font-size: 0.875rem;
    background-color: var(--base-variant);
    color: var(--text-color);
}

/* flex containers*/
main {
    flex: 1;
    margin: 8px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* pushes footer down */
}

.smaller-flex-container{
    display: flex;
    flex-direction: column;
    max-width: 800px; 
    margin: 0 auto;   
    padding: 20px;   
}

/* animation */
@keyframes animation_box {
    0%   {background-color:red;}
    25%  {background-color:yellow; }
    50%  {background-color:blue; }
    75%  {background-color:green;}
    100% {background-color:red; }
  }

.animationootd {
    width: 250px;
    height: 250px;
    position: relative;
    background-color: red;
    animation-name: animation_box;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    margin: auto;
  }

/* misc styles */
span[class='italics'] {
    font-style: italic;
}

ul {
    list-style-type: square;
}

li {
    margin: 10px 0;
}